.contact-wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2em;
  margin: 0 auto;

  section h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0.3em;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .link-item {
      color: var(--dark-color);
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 0.6em 0;
    }
  }
}
.contact-form {
  border-left: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1em;

  label {
    margin-bottom: 0.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "* required";
      color: red;
      font-size: 0.6em;
    }
  }

  input,
  textarea {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 2px 2px var(--dark-color);
    margin-bottom: 1em;
  }

  .send-btn {
    background-color: var(--accent-color);
    color: var(--light-color);
    width: 50%;
    align-self: center;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      background-color: var(--third-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    width: 95%;
    grid-template-columns: 1fr;
    align-items: center;

    .contact-links {
      gap: 1em;
    }
    .contact-form {
      border-left: 0;
    }
  }
}
