footer {
  background-color: var(--accent-color);
  width: 100%;
  padding: 1em;
  margin-top: 4em;
  position: relative;
  font-size: 0.9em;
}

footer .copyright {
  color: var(--light-color);
  text-align: center;
  margin-top: 1.5em;
}

.footer-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;

  .grid-item {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: var(--link-color);
  }

  h3 {
    font-weight: 300;
    color: var(--light-color);
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

  .footer-links a {
    padding: 0.6em 0;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 1em;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
