footer {
  background-color: var(--accent-color);
  width: 100%;
  padding: 1em;
  margin-top: 4em;
  position: relative;
  font-size: 0.9em;

  .last-row {
    color: var(--light-color);
    text-align: center;
    margin-top: 1.5em;
  }
  :focus {
    border: 2px solid var(--third-color);
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;

    .grid-item {
      display: flex;
      align-items: center;
      gap: 1em;
      color: var(--link-color);
    }

    .footer-links li {
      a {
        padding: 0.6em 0;
        letter-spacing: 2px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 1em;
    font-size: 0.7em;

    .footer-grid {
      grid-template-columns: 1fr;
      gap: 1em;
      h3 {
        opacity: 0;
      }
      .footer-links ul,
      .footer-links {
        display: flex;

        li,
        .grid-item {
          margin-left: 1em;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .footer-grid {
    gap: 0.5em;
  }
}
