.gallery-article {
  margin: 0 auto;

  p {
    max-width: 70ch;
  }
}

.gallery-header {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 2em;

  img {
    max-width: 100%;
    max-height: 100%;
  }
  .img-container {
    position: relative;
  }
  .img-text {
    opacity: 0;
    transition: 0.6s ease;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .img-container:hover img {
    opacity: 0.5;
  }

  .img-container:hover .img-text {
    opacity: 1;
    padding: 1em;
    background-color: var(--dark-color);
    color: var(--light-color);
  }
}
.main {
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .gallery {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5em;
  }
}
