header {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1.5em;

  h1 a {
    font-family: "Playwrite DK Uloopet", "Montserrat";
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 2.5em;
    letter-spacing: 2px;
  }

  .active {
    background-color: var(--third-color);
    border-radius: 5px;
    padding: 0.4em;
  }

  :focus {
    border: 2px solid var(--third-color);
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: column;
    padding: 0.5em 0;
    gap: 0;

    nav ul {
      gap: 1em;
    }

    a {
      padding: 0;
      font-size: 0.7em;
    }
  }
}
