:root {
  color-scheme: light dark;
  --light-color: rgb(250, 247, 240);
  --dark-color: rgb(74, 73, 71);
  --third-color: rgb(177, 116, 87);
  --link-color: rgb(255, 254, 250);
  --accent-color: rgb(88, 112, 98);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition-duration: 250ms;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dak-color);
    color: var(--light-color);
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.4;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  width: 100%;
  align-items: center;
  h1 {
    margin: 1em 0;
    padding: 0.6em;
    text-align: center;
    font-family: "Playwrite DK Uloopet", "Montserrat";
  }
  p {
    max-width: 70ch;
    margin-bottom: 1em;
  }
}
li {
  list-style: none;
}

a {
  cursor: pointer;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0.6em 1em;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 1.6em;
}

code {
  font-family: "Courier New", monospace;
}

@media screen and (max-width: 340px) {
  body {
    font-size: 0.7em;
  }
}
